.container {
  margin-top: 20px;
  margin-bottom: 80px;
  text-align: center;
}

a {
  text-decoration: none;
  color: mediumpurple;
}

#resumeDownloadDiv {
  text-align: right;
  margin-right: 30px;
  margin-top: 20px;
}
