<div>
  <mat-progress-bar  [hidden]="isHidden" [value]="value" mode="buffer" color="warn"></mat-progress-bar>
  <pdf-viewer (on-progress)="onProgress($event)" [src]="urlPath" [render-text]="true" style="display:block" fit-to-page="true" original-size="false"
  autoresize="true">
  </pdf-viewer>
</div>

<div align="center">
  <!--<a mat-stroked-button color="accent" href="./assets/Resume.pdf">Download Resume</a>-->
  <a href="./assets/Resume.pdf">
    <i class="fas fa-download fa fa-2x"></i>
  </a>
</div>

