<div class="container">
  <mat-card class="shadow">
    <mat-card-content>
      <p class="text-justify">
        My name is Julio Lama I came to the U.S. in 2015 to pursue my Bachelors Degree in Computer Science at DePaul
        University in Chicago, IL. <br> Back when I was in high school I got very interested in developing things on a
        computer; I got curious in how games, mobile apps, websites, and many other software that I had to use day to
        day work. <br>

        So the question: "wouldn't be nice to know how to do that?" stuck with me until I graduated high school. <br>
        When the time came to chose majors I thought Computer Science was the right major for me, so I end up majoring
        in it and so far
        I am enjoying it.
      <p>

      <p>
        My goal is to start my career as a developer and to be part of a team that contributes to its society by building life-changing and useful products.<br>
      </p>

      <p>
        In my free time, I like hanging out with friends and play video games, my favorite video game at the moment is
        Overwatch for Xbox One.
      </p>

      <p>
        If you would like to know more about me feel free to reach out to me!
      </p>
    </mat-card-content>
  </mat-card>
</div>
