<div class="container">
  <mat-card>
    <mat-card-content>
      <p>Hello! Welcome to my online Portfolio! My name is Julio Lama. I am currently a Senior at <a href="https://www.depaul.edu/Pages/default.aspx">DePaul University</a> in the city of Chicago, Illinois, majoring in Computer Science with a concentration in software development.</p>

      <p>During my free time I enjoy hanging out with friends, play video games, develop small projects and see what else is new to learn. <br/>
        I have posted a few small projects on my <a routerLink="/projects"><em>Projects</em></a> section of this site.<br/>
      </p>

      <p>
        I recently had a pretty awesome internship at <em><a href="https://www.ensighten.com/">Ensighten</a></em>, where I used popular technologies such as <a href="https://angularjs.org/">AngularJS</a> and <a href="http://spring.io/projects/spring-boot">Springboot</a>.
        I am constantly looking for new opportunities where I can apply my CS knowledge and technical skills, feel free to <a href="mailto:lamajulio17@gmail.com">contact me</a>!<br/>
        After graduation, I hope to start my career as a Software Developer.
      </p>

      <!--<p>-->
        <!--Hello! Welcome to my online Portfolio! My name is Julio Lama. I am currently a Senior at DePaul University in the city of Chicago, Illinois, majoring in Computer Science with a concentration in software development.<br/>-->
        <!--During my free time I enjoy hanging out with friends, play video games, develop small projects and see what else is new to learn. <br/>-->
        <!--I recently had a pretty awesome internship at <em><a href="https://www.ensighten.com/">Ensighten</a></em>, where I used popular technologies such as <a href="https://angularjs.org/">AngularJS</a> and <a href="http://spring.io/projects/spring-boot">Springboot</a>.<br/>-->
      <!--</p>-->
      <!--<p>-->
        <!--By the way I am constantly looking for new opportunities where I can apply my CS knowledge and technical skills, feel free to <a href="mailto:lamajulio17@gmail.com">contact me</a>!<br/>-->
        <!--My goal post-graduation is to start my career as a Software Developer.-->
      <!--</p>-->
      <!--My name is Julio Lama. I am currently a Junior at DePaul University in the city of Chicago, Illinois, majoring in Computer Science with a concentration in software development.-->
      <!--After graduation, I hope to start my career as a Software Developer.-->
  </mat-card-content>
</mat-card>
</div>
