<div class="container">
  <mat-card>
    <mat-card-content>
      <p>
        My name is Julio Lama I came to the U.S. in 2015 to pursue my Bachelors Degree in Computer Science at DePaul
        University in Chicago, IL. <br> Back when I was in high school I got very interested in developing things on a
        computer; I got curious in how games, mobile apps, websites, and many other software that I had to use day to day work. <br>

        So the question: "wouldn't be nice to know how to do that?" stuck with me until I graduated high school. <br>
        When the time came to chose majors I thought Computer Science was the right major for me, so I end up majoring in it and so far
        I am enjoying it.
      <p>

      <p>
        I am currently a Senior and will be graduating in June of 2019 from DePaul.<br>
        My post-graduation goals is to start my career as a developer and to be part of a team that contributes to its society
        by building life-changing and useful products.<br>
      </p>

      <p>
        In my free time, I like hanging out with friends and play video games, my favorite video game at the moment is
        Overwatch for Xbox One.
      </p>

      <p>
        If you would like to know more about me feel free to reach out to me!
      </p>

      <!--<p>Hello! Welcome to my online Portfolio! My name is Julio Lama. I am currently a Senior at <a href="https://www.depaul.edu/Pages/default.aspx">DePaul University</a> in the city of Chicago, Illinois, majoring in Computer Science with a concentration in software development.</p>-->

      <!--<p>During my free time I enjoy hanging out with friends, play video games, develop small projects and see what else is new to learn. <br/>-->
        <!--I have posted a few small projects on my <a routerLink="/projects"><em>Projects</em></a> section of this site.<br/>-->
      <!--</p>-->

      <!--<p>-->
        <!--I recently had a pretty awesome internship at <em><a href="https://www.ensighten.com/">Ensighten</a></em>, where I used popular technologies such as <a href="https://angularjs.org/">AngularJS</a> and <a href="http://spring.io/projects/spring-boot">Springboot</a>.-->
        <!--I am constantly looking for new opportunities where I can apply my CS knowledge and technical skills, feel free to <a href="mailto:lamajulio17@gmail.com">contact me</a>!<br/>-->
        <!--After graduation, I hope to start my career as a Software Developer.-->
      <!--</p>-->


  </mat-card-content>
</mat-card>
</div>
