<div class="container">
  <div fxLayout="column" fxLayoutGap="15px">

    <!--Senior capstone card-->
    <mat-card fxFlexFill>
      <mat-card-title>Senior Capstone</mat-card-title>
      <mat-card-subtitle>Description</mat-card-subtitle>
      <mat-card-content>
        <p>
          Students will be provided with experience in team design, implementation and testing of a large
          software project. <br/>
          <em>PREREQUISITE(S):</em> CSC 301 or CSC 383 or CSC 393 or ISM 360 Senior Year (The main prereq).
        </p>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutGap="15px">
        <button mat-stroked-button color="accent" (click)="goToMembers()">Team members</button>
        <button mat-stroked-button color="warn" (click)="goToDUapp()"> Visit site</button>
      </mat-card-actions>
      <div appMessage=""></div>
    </mat-card>

    <!--News application card -->
    <mat-card fxFlexFill>
      <mat-card-title>The Guardian News</mat-card-title>
      <mat-card-subtitle>Description</mat-card-subtitle>
      <mat-card-content>
        <p>A small application that uses <a href="https://www.theguardian.com/uk-news">The Guardian</a> API.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-stroked-button color="warn" href="https://theguardian.herokuapp.com/#/home">Visit site</a>
      </mat-card-actions>
      <div appMessage=""></div>
    </mat-card>

    <!--Sweets & coffee card-->
    <mat-card fxFlexFill>
      <mat-card-title>Sweets & Coffee</mat-card-title>
      <mat-card-subtitle>Description</mat-card-subtitle>
      <mat-card-content>
        <p>The intention was to apply object-oriented techniques in the design and development of software systems for enterprise applications.<br/>
          Topics include component architecture, such as Java Beans and Enterprise Java Beans, GUI components, such as Swing, database connectivity and object repositories, server application integration using technologies such as servlets, Java Server Pages, JDBC and RMI, security and internationalization.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a href="https://github.com/jlama94/coffeeShop"
           mat-stroked-button color="warn"> View on GitHub</a>
      </mat-card-actions>
    </mat-card>

    <!--My Portfolio card-->
    <mat-card fxFlexFill>
      <mat-card-title>Julio Lama</mat-card-title>
      <mat-card-subtitle>Description</mat-card-subtitle>
      <mat-card-content>
        <p>My personal portfolio built with Angular. It is this site.</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-stroked-button color="warn" href="https://jlama94.github.io/portfolio/#/home">Visit site</a>
      </mat-card-actions>
    </mat-card>
    <br/>
  </div>
</div>
