<div class="container">

  <div fxLayout="column" fxLayoutGap="15px" *ngIf="router.url != '/projects/depaul-application-members'">
    <!--Senior capstone card-->
    <mat-card fxFlexFill>
      <mat-card-title>DePaul App - Senior Capstone</mat-card-title>
      <mat-card-subtitle>Description</mat-card-subtitle>
      <mat-card-content>
        <p>
          Students will be provided with experience in team design, implementation and testing of a large
          software project. <br/>
          <em>PREREQUISITE(S):</em> CSC 301 or CSC 383 or CSC 393 or ISM 360 Senior Year (The main prereq).
        </p>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutGap="15px">
        <a routerLink="depaul-application-members" class="mat-stroked-button">Team members</a>
        <a href="https://depaulapp.herokuapp.com" class="mat-stroked-button">Visit site</a>
      </mat-card-actions>
      <div appMessage=""></div>
    </mat-card>

    <!--News application card -->
    <mat-card fxFlexFill>
      <mat-card-title>The Guardian News</mat-card-title>
      <mat-card-subtitle>Description</mat-card-subtitle>
      <mat-card-content>
        <p>
          An Angular and SpringBoot application that uses The Guardian API.<br/>
          Provides articles about politics, sports and more.
        </p>
        <mat-card-subtitle>
          Purpose
        </mat-card-subtitle>
        <span><strong>To learn more about:</strong></span> <br/>
        <ul>
          <li>RESTFul APIs.</li>
          <li>SpringBoot.</li>
          <li>Angular.</li>
          <li>Deployment for web applications to cloud platforms.</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <a mat-stroked-button color="warn" href="https://theguardian-app.herokuapp.com/#/home">Visit site</a>
      </mat-card-actions>
      <div appMessage=""></div>
    </mat-card>

    <!--Sweets & coffee card-->
    <mat-card fxFlexFill>
      <mat-card-title>Sweets & Coffee</mat-card-title>
      <mat-card-subtitle>Description</mat-card-subtitle>
      <mat-card-content>
        <p>
          A Java web application.
        </p>
        <mat-card-subtitle>
          Purpose
        </mat-card-subtitle>
        <span><strong>To learn more about:</strong></span> <br/>
        <ul>
          <li>Design and develop software systems for enterprise applications.</li>
          <li>Java Beans and Enterprise Java Beans.</li>
          <li>Database connectivity.</li>
          <li>Server application integration using technologies such as servlets and Java Server Pages.</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <a href="https://github.com/jlama94/coffeeShop"
           mat-stroked-button color="warn"> View on GitHub</a>
      </mat-card-actions>
    </mat-card>

    <!--My Portfolio card-->
    <mat-card fxFlexFill>
      <mat-card-title>julio-lama.com</mat-card-title>
      <mat-card-subtitle>Description</mat-card-subtitle>
      <mat-card-content>
        <p>
          My personal portfolio built with Angular.
        </p>
        <mat-card-subtitle>Purpose</mat-card-subtitle>
        <span><strong>To learn more about:</strong></span> <br/>
        <ul>
          <li>Single Page Application (SPA) using the Angular framework.</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <a mat-stroked-button color="warn" href="http://julio-lama.com">Visit site</a>
      </mat-card-actions>
    </mat-card>

    <mat-card fxFlexFill>
      <mat-card-title>My Chicago Planner</mat-card-title>
      <mat-card-subtitle>Description</mat-card-subtitle>
      <mat-card-content>
        <p>
          An iOS application. A planner with some of the most popular places and restaurants to visit in Chicago.
        </p>
        <mat-card-subtitle>Purpose</mat-card-subtitle>
        <span><strong>To learn more about:</strong></span> <br/>
        <ul>
          <li>Swift programming language.</li>
          <li>XCode IDE.</li>
          <li>UIKit and other frameworks.</li>
          <li>Elements and architecture of the user interfaces.</li>
          <li>The iOS system architecture including memory management.</li>
          <li>Model Viewer Controller (MVC), delegates and more.</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <a mat-stroked-button color="warn" href="https://github.com/jlama94/MyChicagoPlanner">View on GitHub</a>
      </mat-card-actions>
    </mat-card>
    <br/>
  </div>
</div>
<!-- This will render the DePaul team members component -->
<router-outlet></router-outlet>
<!-- Github Repositories fetched from the GitHub API. -->
<!--<div class="container" fxLayout="column" fxLayoutGap="15px">-->
<!--<div class="jumbotron">-->
<!--<h4 align="center">GitHub Repositories</h4>-->
<!--</div>-->
<!--<div *ngFor="let repo of repoArray">-->
<!--<mat-card fxFlexFill>-->
<!--<mat-card-title>{{repo.name}}</mat-card-title>-->
<!--<mat-card-subtitle>Description</mat-card-subtitle>-->
<!--<mat-card-content>-->
<!--<p>{{repo.description}}</p>-->
<!--</mat-card-content>-->
<!--<mat-card-actions>-->
<!--<p><strong>Language:</strong> {{repo.language}}</p>-->
<!--<p><a mat-stroked-button color="warn" href="{{repo.url}}">Repository URL</a></p>-->
<!--</mat-card-actions>-->
<!--</mat-card>-->
<!--</div>-->
<!--</div>-->
<!--<br>-->
<div align="center" style="padding-bottom: 20px">
  <a mat-stroked-button color="primary" href="https://github.com/jlama94">Go to GitHub</a>
</div>
