<div align="center">
  <mat-card align="left">
    <mat-card-header>
      <mat-card-title>
        <strong>Julio Lama</strong>
      </mat-card-title>
      <mat-card-subtitle>DePaul University | Chicago, IL</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p i18n>
        Bachelor of Science (B.S.), Computer Science, Software Development
      </p>
      <div align="center">
        <img src="./assets/headshot.JPG" alt="Foto familiar en Chicago"/>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<!--<app-footer></app-footer>-->

