<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title><strong>Julio Lama</strong></mat-card-title>
      <mat-card-subtitle>DePaul University | Chicago, IL</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    <p> Bachelor of Science (B.S.), Computer Science, Software Development</p>
      <!--<mat-card-actions>-->
        <!--<a matTooltip="My Github profile" href="https://github.com/jlama94" class="spaces">-->
          <!--<img src="./assets/octocat.jpg" style="height: 30px; width: 30px;">-->
        <!--</a>-->
        <!--<a matTooltip="My LinkedIn profile" href="https://www.linkedin.com/in/julio-lama/" class="spaces">-->
          <!--<img src="./assets/linkedIn.png" style="height: 40px; width: 40px">-->
        <!--</a>-->
      <!--</mat-card-actions>-->
    </mat-card-content>
  </mat-card>
</div>
<app-footer></app-footer>

