/*
  container size: fit the content inside it.
  align-items: to the center.
  margin-top: space on top of the container -> 30px.
 */
.container {
  width: fit-content;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

mat-card {
  width: fit-content;
}

img {
  width: 250px;
  height: 400px;
}
