<mat-grid-list cols="2" rowheight="250px" rowheight="fit">
  <mat-grid-tile>
    <a href="https://www.linkedin.com/in/julio-lama/">
      <i class="fab fa-linkedin fa-3x"></i>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a href="mailto:lamajulio17@gmail.com">
      <i class="fas fa-at fa-3x"></i>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a href="https://github.com/jlama94">
      <i class="fab fa-github-square fa-3x"></i>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <span class="text-success">Mobile Phone</span> <br>
      <a href="tel:3128743777">(312) 874-3777</a>
    </div>
  </mat-grid-tile>
</mat-grid-list>
