<div class="container">
  <mat-card>
    <mat-card-content>
      <div>
        <i class="fab fa-linkedin"></i>
        <span><strong> LinkedIn Profile </strong></span> <br/>
        <a href="https://www.linkedin.com/in/julio-lama/">https://www.linkedin.com/in/julio-lama/</a> <br/> <br/>
        <i class="fas fa-envelope"></i>
        <span><strong> Email </strong></span> <br/>
        <a href="mailto:lamajulio17@gmail.com">lamajulio17@gmail.com</a> <br/> <br/>
        <i class="fas fa-mobile-alt"></i>
        <span><strong> Phone </strong></span> <br/>
        <a href="tel:3128743777">(312)-874-3777</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
