<div class="container">
  <mat-card>
    <mat-card-title>
      <h3>Interview
        <button style="float: right" mat-raised-button color="accent" (click)="goToProjects()">Back to Projects</button>
      </h3>
    </mat-card-title>

    <hr/>
    <mat-card-subtitle>
      <strong>Name:</strong> Jeffrey Taksas <br/>
      <strong>Title:</strong> Software Engineer II <br/>
      <strong>Company:</strong> Expedia Group
    </mat-card-subtitle>
    <mat-card-content>
      <mat-card-title><h3 id="questionsTitle">Questions</h3></mat-card-title>
      <p><strong>Me:</strong> What is your responsibility at your company?</p>
      <p><strong>Jeffrey:</strong> As a Software Engineer II gearing to be a Senior Engineer, my responsibility is to oversee the architecture
      design for specific projects as well to make sure there that there is a short term and long-term plan to maintain
      and improve our team’s technology stack. I also help coach newer members on the team regarding coding and architecture best practices.
      Someone in my role is also encouraged to engage in group level and organizational level efforts that may more may not be directly related to technology,
      such as college recruiting or intra/intercompany communication.</p>
      <hr/>
      <p><strong>Me:</strong> What made you pick this career?</p>
      <p><strong>Jeffrey:</strong> I’ve always found computer science to be something that I am always interested in learning more about.
        It’s something that I found a passion in and enjoy doing and can see myself enjoying doing or being involved with over the course of my career.</p>
      <hr/>
      <p><strong>Me:</strong> What do you like the most of your career?</p>
      <p><strong>Jeffrey:</strong> Technology is constantly changing and improving, which means you need to be always looking out for the next latest and greatest thing.
        Being in a fast-paced tech company allows me to explore and apply a lot of new technologies to the work that I am doing.
        The work itself is always unique as well which makes each project new and interesting to develop.</p>
      <hr/>

      <p><strong>Me:</strong> Given this is a big company to work for, how much impact do entry-level software engineer end up making?</p>
      <p><strong>Jeffrey:</strong> There has been countless instances where I’ve seen a developer give a comment on a product or process that improves it for the better.
        Developers of any level are encouraged to speak up with ideas, comments, or concerns.
        We can’t better our processes by working in an echo chamber of the same voices and our company encourages developers to share their opinions so that we can be better.
      </p>
      <hr/>

      <p><strong>Me:</strong> What is your suggestion to someone that is considering a career as a Software Engineer?</p>
      <p><strong>Jeffrey:</strong> Search for opportunities to get experience about the Career itself.
        More and more companies are offering “career days” or other events to give people considering a career in technology the opportunity to see if it’s right for them.
      </p>
      <hr/>

      <p><strong>Me:</strong> What suggestions in terms of preparation would you give to a Computer Science student that is about to graduate?</p>
      <p><strong>Jeffrey:</strong> Keep up to date on the industry standard for technical interviews and how a resume should look for applying to entry level positions.</p>
      <hr/>

      <p><strong>Me:</strong> What is one thing that you would want to change about your job?</p>
      <p><strong>Jeffrey:</strong> Any company has processes that they’d like to see cleaned up.
        I’m given the opportunity to help give ideas on how to improve those processes, but there are some manual ones that I would like to see be automated so I could focus my time elsewhere.</p>
      <hr/>
      <span><strong>Summary</strong></span>
      <br/>
      <p>
        After interviewing Jeffrey, it solidified my thoughts on some aspects of technology. One of them is the pace at which this field is growing, it is a fast-paced growing field.
        As the years go by we keep relying on it so much that it is impossible to live without it; it is everywhere.
        This is good because it means that you have engineers/developers out there working on the next big thing that could potentially affect your life forever.
      </p>

      <p>
        The reason I chose this major was because I wanted to know everything about it, I wanted to know about the field that is everywhere from medicine to art and be able to contribute to it by learning its fundamentals.
      </p>
      <p>It is my hope to someday transform and individual’s life by using technology.</p>

    </mat-card-content>
  </mat-card>
</div>
